<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shawft.twarp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shawft.twarp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shawft.twarp.TimelineActivity"
            android:label="TWarp!"
            android:configChanges="orientation|screenSize">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c40998dd6f5f40da6abe0c9ec59536669af94330" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
